* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-family: 'Acumin-Pro', sans-serif;
    @import url("https://use.typekit.net/xta7btl.css");
}

body {
    width: 100%;
    /*    max-width: 7680px;*/
    margin: auto;
}


main {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    display: grid;
    grid-auto-columns: repeat(2, 50%);
}



article {
    position: relative;
    z-index: 0;
    overflow: hidden;
}

article:after {
    content: '';
    display: block;
    padding-bottom: calc(100% / (5/9));

}


article p {
    height: 100%;
    width: 100%;
    padding: 1em;

    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: flex-end;

    color: transparent;
    background-image: transparent;
    transition: .2s;
}

article:hover > p {
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    transition: .5s;
    z-index: 999;
}

article div:first-child {
    overflow: hidden;
    position: absolute;
    width: 90%;
    height: 25%;
    left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;

}

article div:first-child h1 {
    color: white;
    text-transform: capitalize;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 4.5vh;
    padding: 5%;
    font-weight: 800;
    line-height: 100%;
}

article div:last-child {
    /*    border: 3px solid #ff0000;*/
    position: absolute;
    width: 90%;
    height: 75%;
    bottom: 0;
    left: 5%;
}

/*@/@/@/@/@ ---> KEYFRAMES ANIMATIONS <--- @\@\@\@\@*/



/*+++++++++++ PROJECT1 +++++++++++*/

.project1 {
    background-color: gold;
}

.project1 div {
    overflow-y: hidden;
    filter: drop-shadow(0px 0px 10px rgba(147, 129, 34, 0.3));
}

.project1 div img {
    width: 100%;
    top: 0%;
    position: absolute;
    will-change: transform;
    animation: onepage-scroll-up ease-out 30s infinite alternate;
}

@keyframes onepage-scroll-up {
    0% {
        transform: translateY(1%);
    }

    100% {
        transform: translateY(-38%);
    }
}



/*+++++++++++ PROJECT2 +++++++++++*/

.project2 {
    background-color: #ff2c2c;
}

.project2 div:first-child h1 {}

.project2 div img {
    filter: drop-shadow(4px 4px 15px rgba(26, 2, 2, 0.51));
}

.project2 div img:first-of-type {
    width: 60%;
    position: absolute;
    right: 0;
    top: 0%;
    z-index: -1;

}

.project2 div img:nth-of-type(2) {
    width: 55%;
    position: absolute;
    left: 0;
    bottom: 5%;
    z-index: -2;
}

/*+++++++++++ PROJECT3 +++++++++++*/

.project3 {
    background-color: #7309c7;
}

.project3 div img:first-of-type {
    width: 115%;
    position: absolute;
    left: 0;
    TOP: 0%;
    z-index: -1;

}

.project3 div img:nth-of-type(2) {
    width: 100%;
    position: absolute;
    left: 5.5%;
    top: 52%;
    z-index: -2;
}

/*+++++++++++ PROJECT4 +++++++++++*/

.project4 {
    background-image: linear-gradient(#c9062b, #00008b);
}

.project4 div {
    border: 3px solid black;
    overflow-y: hidden;
    filter: drop-shadow(0px 0px 10px rgba(34, 4, 19, 0.3));
    border: none;
}

.project4 div img {
    width: 100%;
    position: absolute;
    top: 0%;
    z-index: -2;
    will-change: transform;
    animation: onepage-scroll-up ease-out 30s infinite;
    animation-direction: alternate-reverse;

}


@keyframes onepage-scroll-up {
    0% {
        transform: translateY(-38%);
    }

    100% {
        transform: translateY(1%);
    }
}





/*+++++++++++ PROJECT5 +++++++++++*/

.project5 {
    background-color: #c70909;
}

.project5 div {
    border: none;
}

.project5 div img {
    filter: drop-shadow(0px 0px 10px rgba(34, 4, 19, 0.3));
}

.project5 div img:first-of-type {
    width: 80%;
    position: absolute;
    left: 2.5%;
    top: 5%;
    z-index: 0;
}

@keyframes multiple-screen-up {
    0% {
        transform: translateY(-30%);
    }

    100% {
        transform: translateY(-20%);
    }
}


.project5 div img:nth-of-type(2) {
    width: 80%;
    position: absolute;
    left: 2.5%;
    bottom: 5%;
    z-index: 0;
}

.project5 div img:nth-of-type(3) {
    width: 100%;
    position: absolute;
    left: 0%;
    top: 22%;
    z-index: 0;
    filter: drop-shadow(0px 0px 5px rgba(34, 4, 19, 0.53));
}



/*+++++++++++ PROJECT6 +++++++++++*/


/*-----------> MEDIA QUERIES <-----------*/

/*-----------> MEDIA QUERIES <-----------*/

/*-----------> MEDIA QUERIES <-----------*/



@media only screen and (max-width: 320px) {
    main {
        grid-template-columns: 1fr;
    }
    
    article div:first-child h1 {
        font-size: .6vh;
    }
}



@media only screen and (min-width: 319px) and (max-width: 587px) {
    main {
        grid-template-columns: 1fr;
    }
    
        article div:first-child h1 {
        font-size: 2.5vh;
    }
}

@media only screen and (min-width: 586px) {
    main {
        grid-template-columns: 1fr;
    }
    
    article div:first-child h1 {
        font-size: 4vh;
    }
}

@media only screen and (min-width: 768px) {
    main {
        grid-template-columns: repeat(2, 1fr);
    }
    
      article div:first-child h1 {
        font-size: 3vh;
    }

}


@media only screen and (min-width: 992px) {
    main {
        grid-template-columns: repeat(2, 1fr);
    }
    
    article div:first-child h1 {
        font-size: 4vh;
    }
}

@media only screen and (min-width: 1440px) {
    main {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: 1734px) {
    main {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: 2593px) {
    main {
        max-width: 3000px;
        grid-template-columns: repeat(3, 1fr);
    }
}
