* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-family: "Acumin-Pro", sans-serif;
  }
  
  body {
    width: 100%;
    margin: auto;
    z-index: 0;
  }
  
  main {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    display: grid;
    grid-auto-columns: repeat(2, 50%);
    z-index: 1;
  }
  
  /* GENERAL STYLING: voor alle projecten is dit hetzelfde */
  
  .project {
    position: relative;
    z-index: 2;
    overflow: hidden;
  }
  
  .project:after {
    content: "";
    display: block;
    padding-bottom: calc(100% / (5 / 9));
  }
  
  .project > div {
    position: absolute;
  }
  
  .project div:first-child {
    width: 90%;
    height: 25%;
    left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
  }
  
  .project div:first-child h1 {
    color: white;
    text-transform: capitalize;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    text-align: center;
    /*    font-size: 4.5vw;*/
    padding: 5%;
    font-weight: 800;
    line-height: 100%;
  }
  
  .project:hover div:first-child h1 {
    color: white;
  }
  
  .project div:nth-child(2) {
    height: 100%;
    width: 100%;
  
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
  
    opacity: 0;
    transition: opacity 0.5s;
  }
  
  .project:hover div:nth-child(2) {
    opacity: 1;
    z-index: 4;
  }
  
  .project div:nth-child(2) > p {
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    padding: 3% 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  .project div:last-child {
    width: 90%;
    height: 75%;
    bottom: 0;
    left: 5%;
    z-index: 3;
  }
  
  .project div:last-child img {
    position: absolute;
    will-change: transform;
  }
  
  /* INTRO: wie ben ik? */
  
  
  
  
  
  /* FIRST PROJECT: storytelling */
  
  .first {
    background-color: gold;
  }
  
  .first div {
    overflow-y: hidden;
    filter: drop-shadow(0px 0px 10px rgba(147, 129, 34, 0.3));
  }
  
  .first div > img {
    width: 100%;
    top: 0;
    animation: onepage-scroll-up ease-out 30s infinite alternate;
  }
  
  /* SECOND PROJECT: Amsterdam Student Guide */
  
  .second {
    background-color: #ff2c2c;
  }
  
  .second div img {
    transition: transform 1s;
    filter: drop-shadow(4px 4px 15px rgba(26, 2, 2, 0.51));
  }
  
  .second div img:first-of-type {
    width: 60%;
    right: 0;
    top: 0;
    z-index: 2;
  }
  
  .second:hover div img:first-of-type {
    transform: translate3d(0, 3%, 0);
  }
  
  .second div img:nth-of-type(2) {
    width: 55%;
    left: 0;
    bottom: 5%;
    z-index: 1;
  }
  
  .second:hover div img:nth-of-type(2) {
    transform: translate3d(0, -3%, 0);
  }
  
  /* THIRD PROJECT: Search Better, Read Better! */
  
  .third {
    background-color: #7309c7;
  }
  
  .third div img {
    transition: transform 1s;
  }
  
  .third div img:first-of-type {
    width: 115%;
    left: 0;
    top: 0%;
    z-index: 2;
  }
  
  .third:hover div img:first-of-type {
    transform: translate3d(0, 6%, 0);
  }
  
  .third div img:last-of-type {
    width: 100%;
    left: 5.5%;
    top: 52%;
    z-index: 1;
  }
  
  .third:hover div img:last-of-type {
    transform: translate3d(0, -6%, 0);
  }
  
  /* FOURTH PROJECT: Lowlands With A Twist */
  
  .fourth {
    background-image: linear-gradient(#c9062b, #00008b);
  }
  
  .fourth div {
    border: 3px solid black;
    overflow-y: hidden;
    filter: drop-shadow(0px 0px 10px rgba(34, 4, 19, 0.3));
    border: none;
  }
  
  .fourth div img {
    width: 100%;
    top: 0;
    animation: onepage-scroll-up 30s ease-out infinite alternate-reverse;
  }
  
  @keyframes onepage-scroll-up {
    0% {
      transform: translate3d(0, -38%, 0);
    }
  
    100% {
      transform: translate3d(0, 1%, 0);
    }
  }
  
  /* FIFTH PROJECT: Make It Your Own */
  
  .fifth {
    background-color: #c70909;
  }
  
  .fifth div img {
    filter: drop-shadow(0px 0px 10px rgba(34, 4, 19, 0.3));
  }
  
  .fifth div img:first-of-type {
    width: 80%;
    left: 10%;
    top: 5%;
    z-index: 1;
  }
  
  @keyframes multiple-screen-up {
    0% {
      transform: translate3d(0, 30%, 0);
    }
  
    100% {
      transform: translate3d(0, -20%, 0);
    }
  }
  
  .fifth div img:nth-of-type(2) {
    width: 80%;
    left: 10%;
    bottom: 5%;
    z-index: 1;
  }
  
  .fifth div img:nth-of-type(3) {
    width: 100%;
    left: 0%;
    top: 22%;
    z-index: 2;
    filter: drop-shadow(0px 0px 5px rgba(34, 4, 19, 0.53));
  }
  
  /* SIXTH PROJECT: first time on the web */
  
  .project6 {
    background-color: azure;
  }
  
  .project6 div:first-child h1 {
    color: darkblue;
    text-shadow: none;
  }
  
  /*-----------> MEDIA QUERIES <-----------*/
  
  /*-----------> MEDIA QUERIES <-----------*/
  
  /*-----------> MEDIA QUERIES <-----------*/
  
  @media only screen and (max-width: 320px) {
    main {
      grid-template-columns: 1fr;
    }
  
    article div:first-child h1 {
      font-size: 10vw;
    }
  }
  
  @media only screen and (min-width: 319px) and (max-width: 434px) {
    main {
      grid-template-columns: 1fr;
    }
  
    article div:first-child h1 {
      font-size: 10vw;
    }
  }
  
  @media only screen and (min-width: 433px) and (max-width: 587px) {
    main {
      grid-template-columns: 1fr;
    }
  
    article div:first-child h1 {
      font-size: 10vw;
    }
  }
  
  @media only screen and (min-width: 586px) {
    main {
      grid-template-columns: 1fr;
    }
  
    article div:first-child h1 {
      font-size: 10vw;
    }
  }
  
  @media only screen and (min-width: 768px) {
    main {
      grid-template-columns: repeat(2, 1fr);
    }
  
    article div:first-child h1 {
      font-size: 5vw;
    }
  }
  
  @media only screen and (min-width: 992px) {
    main {
      grid-template-columns: repeat(2, 1fr);
    }
  
    article div:first-child h1 {
      font-size: 5vw;
    }
  }
  
  @media only screen and (min-width: 1440px) {
    main {
      grid-template-columns: repeat(3, 1fr);
    }
  
    article div:first-child h1 {
      font-size: 3.5vw;
    }
  }
  
  @media only screen and (min-width: 1734px) {
    main {
      grid-template-columns: repeat(3, 1fr);
    }
  
    article div:first-child h1 {
      font-size: 3.5vw;
    }
  }
  
  @media only screen and (min-width: 2593px) {
    main {
      grid-template-columns: repeat(3, 1fr);
    }
  
    article div:first-child h1 {
      font-size: 3.5vw;
    }
  }
  