* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Acumin-Pro", sans-serif;
  scroll-margin-top: 0;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: auto;
  z-index: 0;
}

header {
  background-color: #b5ffdf;
  position: static;
  width: 100%;
  min-height: 100vh;
  z-index: 999;
  display: flex;
  flex-direction: column;
}


.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  margin: 1em;
  margin-bottom: 0;
}

.contact a {
  text-decoration: none;
  font-family: "Acumin-Pro", sans-serif;
  font-weight: 600;
  background-color: white;
  color: black;

  padding: 0.5em 0.8em;
  border-radius: 1em;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.171);
}

.contact .tel {
  min-width: 155px;
}

.contact .mail {
  min-width: 270px;
}

.profile {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 1;
  mix-blend-mode: luminosity;
  margin: 0 auto;
  padding: 1em;

  margin: 1.4em;
  background-color: rgba(0, 0, 0, 0.034);
  border-radius: 0.6em;
}

.profile h1 {
  font-weight: 600;
  font-size: clamp(1.8rem, 3vw, 10vw);
  margin-bottom: 0.2em;
}

.profile p {
  font-weight: 400;
  line-height: 1.4;
}

.profile p + p {
  margin-top: 0.5em;
}

.profile-pic {
  position: relative;
  border-radius: 500px;
  overflow: hidden;
  margin: 1em 3em 1em 1em;
  width: min(90%, 400px);
}

.profile-pic img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.profile-content {
  width: min(100%, 500px);
}

.work {
  position: relative;
  margin: 0 auto;
  margin-bottom: 1em;
  color: #1f4635;
  animation: jump 1s linear alternate infinite;
  /* border: 2px dashed red; */
}

.work p {
  font-size: 11px;
}

.work p::after {
  content: "\279C";
  position: absolute;
  text-align: center;
  width: 20px;
  transform: rotate(90deg);
  top: 100%;
  left: calc(50% - 20px / 2);
}

@keyframes jump {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, -50%, 0);
  }
}

@media (max-width: 725px) {
  .profile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    margin: 0;
    background-color: transparent;
    border-radius: 0;
    margin-bottom: 3em;
  }

  .profile h1 {
    text-align: center;
  }

  .profile-pic {
    margin: 1em;
  }

  .work {
    display: none;
  }
}

main {
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -ms-grid;
  display: grid;
  grid-auto-columns: repeat(2, 25%);
  z-index: 1;
}

/* -------------------------------------------------------------------------- */
/*                               GENERAL STYLING                              */
/* -------------------------------------------------------------------------- */

.project {
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.project:after {
  content: "";
  display: block;
  padding-bottom: calc(100% / (5 / 9));
}

.project > div {
  position: absolute;
}

.project > div:first-child {
  width: 90%;
  height: 25%;
  left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 2;
}

.project > div:first-child h1 {
  width: 100%;
  color: white;
  text-transform: capitalize;
  text-align: center;
  font-weight: 800;
  line-height: 110%;
  font-size: clamp(1.8rem, 3vw, 10vw);
}

@media only screen and (max-width: 567px) and (min-width: 423px) {
  .project > div:first-child h1 {
    font-size: 2.7rem;
  }
}

.project > div:last-child {
  width: 90%;
  height: 75%;
  bottom: 0;
  left: 5%;
  z-index: 3;
}

.project > div:last-child img {
  position: absolute;
  will-change: transform;
}

/* -------------------------------------------------------------------------- */
/*                                   Projects                                 */
/* -------------------------------------------------------------------------- */

.one {
  background-color: gold;
}

.one div {
  overflow-y: hidden;
  -webkit-filter: drop-shadow(0px 0px 10px rgba(147, 129, 34, 0.3));
  filter: drop-shadow(0px 0px 10px rgba(147, 129, 34, 0.3));
}

.one div > img {
  width: 100%;
  top: 0;
  -webkit-animation: onepage-scroll-up ease-out 30s infinite alternate;
  animation: onepage-scroll-up ease-out 30s infinite alternate;
}

.two {
  background-color: #ff2c2c;
}

.two div img {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-filter: drop-shadow(4px 4px 15px rgba(26, 2, 2, 0.51));
  filter: drop-shadow(4px 4px 15px rgba(26, 2, 2, 0.51));
}

.two div img:first-of-type {
  width: 60%;
  right: 0;
  top: 0;
  z-index: 2;
}

.two:hover div img:first-of-type {
  -webkit-transform: translate3d(0, 3%, 0);
  transform: translate3d(0, 3%, 0);
}

.two div img:nth-of-type(2) {
  width: 55%;
  left: 0;
  bottom: 5%;
  z-index: 1;
}

.two:hover div img:nth-of-type(2) {
  -webkit-transform: translate3d(0, -3%, 0);
  transform: translate3d(0, -3%, 0);
}

.three {
  background-color: #7309c7;
}

.three div img {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.three div img:first-of-type {
  width: 115%;
  left: 0;
  top: 0%;
  z-index: 2;
}

.three:hover div img:first-of-type {
  -webkit-transform: translate3d(0, 6%, 0);
  transform: translate3d(0, 6%, 0);
}

.three div img:last-of-type {
  width: 100%;
  left: 5.5%;
  top: 52%;
  z-index: 1;
}

.three:hover div img:last-of-type {
  -webkit-transform: translate3d(0, -6%, 0);
  transform: translate3d(0, -6%, 0);
}

.four {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#c9062b),
    to(#00008b)
  );
  background-image: linear-gradient(#c9062b, #00008b);
}

.four div {
  border: 3px solid black;
  overflow-y: hidden;
  -webkit-filter: drop-shadow(0px 0px 10px rgba(34, 4, 19, 0.3));
  filter: drop-shadow(0px 0px 10px rgba(34, 4, 19, 0.3));
  border: none;
}

.four div img {
  width: 100%;
  top: 0;
  animation: onepage-scroll-up 30s ease-out infinite alternate-reverse;
}

@-webkit-keyframes onepage-scroll-up {
  0% {
    -webkit-transform: translate3d(0, -38%, 0);
    transform: translate3d(0, -38%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 1%, 0);
    transform: translate3d(0, 1%, 0);
  }
}

@keyframes onepage-scroll-up {
  0% {
    -webkit-transform: translate3d(0, -38%, 0);
    transform: translate3d(0, -38%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 1%, 0);
    transform: translate3d(0, 1%, 0);
  }
}

.five {
  background-color: #c70909;
}

.five div img {
  -webkit-filter: drop-shadow(0px 0px 10px rgba(34, 4, 19, 0.3));
  filter: drop-shadow(0px 0px 10px rgba(34, 4, 19, 0.3));
}

.five div img:first-of-type {
  width: 80%;
  left: 10%;
  top: 5%;
  z-index: 1;
}

@-webkit-keyframes multiple-screen-up {
  0% {
    -webkit-transform: translate3d(0, 30%, 0);
    transform: translate3d(0, 30%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -20%, 0);
    transform: translate3d(0, -20%, 0);
  }
}

@keyframes multiple-screen-up {
  0% {
    -webkit-transform: translate3d(0, 30%, 0);
    transform: translate3d(0, 30%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -20%, 0);
    transform: translate3d(0, -20%, 0);
  }
}

.five div img:nth-of-type(2) {
  width: 80%;
  left: 10%;
  bottom: 5%;
  z-index: 1;
}

.five div img:nth-of-type(3) {
  width: 100%;
  left: 0%;
  top: 22%;
  z-index: 2;
  -webkit-filter: drop-shadow(0px 0px 5px rgba(34, 4, 19, 0.53));
  filter: drop-shadow(0px 0px 5px rgba(34, 4, 19, 0.53));
}

.six {
  background-color: darkblue;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#4c88f8),
    to(darkblue)
  );
  background-image: linear-gradient(to top, #4c88f8, darkblue);
}

.six div:first-child h1 {
  color: white;
}

.six div img {
  -webkit-filter: drop-shadow(0px 0px 10px rgba(0, 71, 165, 0.205));
  filter: drop-shadow(0px 0px 10px rgba(0, 71, 165, 0.205));
  height: auto;
}

.six div img:nth-of-type(1) {
  width: 80%;
  left: 10%;
  top: 5%;
  z-index: 0;
}

.six div img:nth-of-type(2) {
  width: 100%;
  top: 30%;
  left: 0%;
  z-index: 1;
}

.six div img:nth-of-type(3) {
  width: 80%;
  left: 10%;
  bottom: 5%;
  z-index: 2;
}

.seven {
  background-color: #ff1938;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#ff6363),
    to(#ff1938)
  );
  background-image: linear-gradient(to top, #ff6363, #ff1938);
}

.seven div:first-child h1 {
  color: white;
}

.seven div:nth-of-type(2) {
  position: absolute;
}

.eight {
  background-color: hotpink;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(pink),
    to(hotpink)
  );
  background-image: linear-gradient(to top, pink, hotpink);
}

.eight div:first-child h1 {
  color: white;
  text-shadow: none;
}

.project.eight div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  left: 0;
}

.project.eight:hover div:last-child .pics {
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

.project.eight div:last-child .pics {
  -webkit-animation: moving-slides 100s linear infinite -22.6s;
  animation: moving-slides 100s linear infinite -22.6s;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  height: 100%;
  width: auto;
  will-change: transform;
}

.project.eight div:last-child img {
  position: relative;
  -webkit-filter: drop-shadow(0px 0px 10px rgba(105, 7, 64, 0.2));
  filter: drop-shadow(0px 0px 10px rgba(105, 7, 64, 0.2));
  width: auto;
  margin: 10px;
  z-index: 1;
}

.project.eight div:last-child img:nth-of-type(even) {
  height: 60%;
}

.project.eight div:last-child img:nth-of-type(odd) {
  height: 50%;
}

@-webkit-keyframes moving-slides {
  0% {
    -webkit-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(-91%, 0, 0);
    transform: translate3d(-91%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
  }
}

@keyframes moving-slides {
  0% {
    -webkit-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(-91%, 0, 0);
    transform: translate3d(-91%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
  }
}

.nine {
  background-color: #f7a014;
}

.nine div:first-child h1 {
  color: white;
}

.nine div {
  -webkit-filter: drop-shadow(0px 0px 10px rgba(147, 129, 34, 0.3));
  filter: drop-shadow(0px 0px 10px rgba(147, 129, 34, 0.3));
}

.nine div > img {
  width: 110%;
  left: -5%;
  bottom: 2%;
}

.ten {
  background-color: #7369ff;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#685dff),
    to(#ab93ff)
  );
  background-image: linear-gradient(to bottom, #685dff, #ab93ff);
}

.ten div:first-child h1 {
  color: white;
}

.ten div img {
  width: 100%;
  bottom: 2%;
}

.eleven {
  position: relative;
  visibility: visible;
  background-color: #00008b;
  overflow: hidden;
  padding: 1em;
}

.eleven:after {
  content: "";
  display: block;
  padding-bottom: calc(100% / (5 / 9));
}

.footer {
  position: relative;
  bottom: 0px;
  flex: 1;
  color: #3434c4;
  font-weight: 800;
  line-height: 100%;
  font-size: clamp(1.8rem, 5vw, 10vw);
}

.contact2 {
  position: absolute;
  bottom: 1.5em;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.contact2 a {
  width: 100%;
  text-decoration: none;
  font-family: "Acumin-Pro", sans-serif;
  font-weight: 600;
  color: white;
}

.contact2 p{
  text-align: left;
  background: rgb(255, 255, 255);
  padding: .3em .5em;
  border-radius: .2em;
  color: #00008b;
  line-height: 100%;
}

/* -------------------------------------------------------------------------- */
/*                               Responsive Grid                              */
/* -------------------------------------------------------------------------- */

@media only screen and (min-width: 0px) {
  main {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 568px) {
  main {
    -ms-grid-columns: (1fr);
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 768px) {
  main {
    -ms-grid-columns: (1fr);
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1440px) {
  main {
    -ms-grid-columns: (1fr);
    grid-template-columns: repeat(3, 1fr);
  }

  .eleven {
    display: none;
  }
}

@media only screen and (min-width: 1734px) {
  main {
    -ms-grid-columns: (1fr);
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 2593px) {
  main {
    -ms-grid-columns: (1fr);
    grid-template-columns: repeat(3, 1fr);
  }
}
/*# sourceMappingURL=style.css.map */
